@font-face {
    font-family: coco;
    src: url(../font/cocogoose.ttf);
}

@font-face {
    font-family: cocob;
    src: url(../font/cocogooesb.ttf);
}

@font-face {
    font-family: champ;
    src: url(../font/comfortaab.ttf);
}

#section {
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-image: url('../image/background.png');
    background-size: cover;
    float: None;
    box-shadow: 0px 10px 20px 20px#f1d782;
}

#mainlogoframe {
    margin: 0;
    padding-top: 5vmax;
    text-align: center;
    height: 25%;
    display: flex;
    align-items: center;
    /* background-color: #f1d782; */
}

.logo {
    display: inline-block;
    margin: 0 auto;
    max-height: 50vamx;
    max-width: 50vmax;
}

#launchdate {
    font-family: champ;
    font-size: 0.9vmax;
    letter-spacing: 0.05em;
    margin: 0;
    color: white;
    padding-bottom: 5vmax;
    text-shadow: 2px 2px 15px #b69e34;
}

#intro {
    color: #494949;
    text-align: center;
    font-family: coco;
    font-size: 1.2vmax;
    line-height: 1.8vmax;
    letter-spacing: 0.08vmax;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2.25%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #F2BB13;
    color: white;
    border: 1.5px solid white;
    font-family: coco;
    font-size: 1.5vmax;
    padding: 0.75vmax;
    padding-bottom: 0.5vmax;
}

button:hover,
button:focus {
    background-color: white;
    color: #F2BB13;
    outline: None;
}

.by {
    position: absolute;
    text-align: right;
    bottom: 0;
    color: white;
    font-family: coco;
    width: 98%;
    letter-spacing: 1px;
    font-size: 1.5vmax;
    text-shadow: 2px 2px 15px #b69e34;
}

.sponsorLogo {
    position: absolute;
    top: 0;
    width: 8vmax;
    margin-top: 2vmax;
    margin-left: 4vmax;
}


/* Leaderboard */

#leaderboard {
    width: 100%;
    background-image: url('../image/boardbackground.png');
    float: None;
    align-items: center;
    justify-content: center;
    background-position: center;
}

#islington_board {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin: auto;
}

#general_board {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin: auto;
}

h2 {
    color: #F2BB13;
    text-align: center;
    padding-bottom: 1vmax;
    font-family: coco;
    font-size: 2.8vmax;
    letter-spacing: 0.05em;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8vmax;
}

h3 {
    color: #5a5a5a;
    text-align: center;
    padding-bottom: 1vmax;
    font-family: champ;
    font-size: 1.5vmax;
    letter-spacing: 0.05em;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8vmax;
    line-height: 3vmax;
}

h4 {
    color: #F2BB13;
    text-align: center;
    font-family: champ;
    font-size: 1vmax;
    letter-spacing: 0.05em;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2vmax;
}

th,
td,
#profile {
    color: #5a5a5a;
    font-family: champ;
    letter-spacing: 0.2px;
    padding: 5px;
    text-align: center;
    font-size: 2.2vmin;
}

th {
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: coco;
    font-size: 3vmin;
    color: #F2BB13;
}

#avatar {
    width: 4vmin;
    height: 4vmin;
    object-fit: cover;
    border: 3px solid #F2BB13;
    justify-content: center;
    border-radius: 50%;
}

#league {
    width: 5vmin;
    height: auto;
}

#contestant::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

#contestant {
    /* Hide scrollbar for IE, Edge and Firefox */
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding-right: 1%;
    padding-left: 1%;
}


/* Responsive UI */

@media screen and (max-width: 1200px) {
    #intro {
        font-size: 1.5vmax;
    }
}

@media screen and (max-width: 900px) {
    #intro {
        font-size: 2vmax;
        line-height: 2.8vmax;
    }
    button {
        font-size: 2.8vmax;
    }
}